<p id="notice"><%= notice %></p>

<h1>Listing Warenkorbs</h1>

<table>
  <thead>
    <tr>
      <th>Anzahl</th>
      <th>Rabattcode</th>
      <th>Gesamtbetrag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @warenkorbs.each do |warenkorb| %>
      <tr>
        <td><%= warenkorb.Anzahl %></td>
        <td><%= warenkorb.Rabattcode %></td>
        <td><%= warenkorb.Gesamtbetrag %></td>
        <td><%= link_to 'Show', warenkorb %></td>
        <td><%= link_to 'Edit', edit_warenkorb_path(warenkorb) %></td>
        <td><%= link_to 'Destroy', warenkorb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Warenkorb', new_warenkorb_path %>
